<form action="/api/users/password-recovery" method="post">
  <!-- Input para la nueva contrase침a -->
  <input
    type="password"
    name="newPassword"
    placeholder="Nueva contrase침a"
    required
  />

  <!-- Input oculto para el token -->
  <input type="hidden" name="token" value="{{token}}" />

  <!-- Otros campos del formulario y bot칩n de enviar -->
  <!-- ... -->

  <button type="submit">Generar Nueva Contrase침a</button>
</form>