<form action="/api/users/password-recovery" method="post">
  <!-- Input para la nueva contraseña -->
  <input
    type="password"
    name="newPassword"
    placeholder="Nueva contraseña"
    required
  />

  <!-- Input oculto para el token -->
  <input type="hidden" name="token" value="{{token}}" />

  <button type="submit">Generar Nueva Contraseña</button>
</form>